<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    {{ form.as_p }}

</form>
</body>
<script>
    sub_video = document.getElementById('id_sub_video').parentElement;

    button = document.createElement("button");
    button.innerText = '추가';
    button.type = 'button';
    button.addEventListener("click", function (e) {
        const add_form = sub_video.outerHTML;
        console.log (add_form);
        test = document.createElement("p");
        test.innerHTML = add_form;
        sub_video.parentElement.appendChild(test);
    });
    sub_video.parentElement.parentElement.appendChild(button);
</script>
</html>